/Tugas&Latihan/LatihanMingguKe4/nbproject/private/
/Tugas&Latihan/LatihanMingguKe4/build/
/Tugas&Latihan/Tugas MingguKe4/nbproject/private/
/Tugas&Latihan/TugasMingguKe4/nbproject/private/
/Tugas&Latihan/TugasMingguKe4/build/
/Tugas&Latihan/TugasMingguKe5/nbproject/private/
/Tugas&Latihan/TugasMingguKe5/build/
/Tugas&Latihan/TugasMingguKe6/nbproject/private/
/Tugas&Latihan/TugasMingguKe6/build/
/Tugas&Latihan/JavaApplication24/nbproject/private/
/Tugas&Latihan/LatihanMingguKe7/nbproject/private/
/Tugas&Latihan/LatihanMingguKe7/build/
/Tugas&Latihan/TugasMingguKe7/nbproject/private/
/Tugas&Latihan/TugasMingguKe7/build/