/New Folder/JavaApplication28/nbproject/private/
/New Folder/JavaApplication28/build/
/New Folder/ProjectAkhirK3/nbproject/private/
/New Folder/myDb/nbproject/private/
/New Folder/myDb/build/
/New Folder/latihan/nbproject/private/
/New Folder/latihan/build/
/New Folder/reportlatihan/nbproject/private/
/New Folder/reportlatihan/build/